#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Container: {{name}}
Documentation=man:systemd-nspawn(1)
Requires=var-lib-machines-{{mount_name}}-fs.mount
After=var-lib-machines-{{mount_name}}-fs.mount

[Service]
ExecStart=/usr/bin/env setup-netns {{#bridges}} --bridge {{bridge}}:{{host}}:{{guest}}{{#guest_address}}:{{guest_address}}{{/guest_address}}{{/bridges}} systemd-nspawn --quiet --capability=CAP_NET_ADMIN --keep-unit --boot --directory=/var/lib/machines/{{name}}/fs -M {{name}}
ExecStop=/bin/machinectl poweroff {{name}}
KillMode=mixed
Type=notify
RestartForceExitStatus=133
SuccessExitStatus=133 SIGRTMIN+4

[Install]
WantedBy=multi-user.target
